<?xml version="1.0"?>
<config>
    <modules>
        <Web_AjaxProducts>
            <version>1.0.0</version>
        </Web_AjaxProducts>
    </modules>
    <frontend>
        <routers>
            <ajax_products>
                <use>standard</use>
                <args>
                    <module>Web_AjaxProducts</module>
                    <frontName>ajax_product</frontName>
                </args>
            </ajax_products>
        </routers>
        <layout>
            <updates>
                <web_ajaxproducts>
                    <file>ajaxproducts.xml</file>
                </web_ajaxproducts>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <web_ajaxproducts>
                <class>Web_AjaxProducts_Model</class>
            </web_ajaxproducts>
        </models>
        <blocks>
            <web_ajaxproducts>
                <class>Web_AjaxProducts_Block</class>
            </web_ajaxproducts>
        </blocks>
        <helpers>
            <web_ajaxproducts>
                <class>Web_AjaxProducts_Helper</class>
            </web_ajaxproducts>
        </helpers>
        <resources>
            <web_ajaxproducts_setup>
                <setup>
                    <module>Web_AjaxProducts</module>
                </setup>
            </web_ajaxproducts_setup>
        </resources>
    </global>
    <default>
        <catalog>
            <ajax_products>
                <enabled>1</enabled>
                <products_in_request>6</products_in_request>
                <request_offset>300</request_offset>
            </ajax_products>
        </catalog>
    </default>
</config>